*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    background: hsl(212, 45%, 89%);
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Outfit", Sans-Serif;

  }
  .card{
    padding: 12px;
    width: 260px;
    height: 400px;
    text-align: center;
    background:  hsl(0, 0%, 100%);
    border-radius: 15px;
    margin-bottom: 5px;
  }
    .card p{
      font-weight: 400;
      font-size: 13px;
      color: hsl(220, 15%, 55%);
      letter-spacing: 0.001em;
    }
      .card h1{
      font-size: 19px;
      font-weight: 6500;
      margin-block: 10px;
    }
      .card img{
        border-radius: 8px;
        width: 100%;
        object-fit: cover;
      }
  